site_name: Triplebit
site_description: >-
  Triplebit: A Minnesota, USA-based nonprofit internet service provider promoting privacy and human rights worldwide.
site_url: https://www.triplebit.org/
edit_uri: https://github.com/triplebit/triplebit.org/edit/main/docs/

theme:
  name: material
  favicon: public/triplebit-logo-square.svg
  logo: public/triplebit-logo-square-white.svg
  custom_dir: theme
  font:
    text: Montserrat
  palette:
    primary: custom
    accent: cyan
  features:
    - navigation.sections
    - navigation.tabs
    - content.action.edit
    - navigation.indexes

extra:
  social:
    - icon: fontawesome/brands/mastodon 
      link: https://mstdn.plus/@triplebit

markdown_extensions:
  - attr_list
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
  privacy: {}
  social:
    cards_layout_dir: cards
    cards_layout: page
  blog:
    archive: true
  meta: {}

exclude_docs: |
  !.well-known

extra_css:
  - stylesheets/extra.css

watch:
  - theme

nav:
  - About:
    - index.md
    - history.md
    - donate.md
  - Blog:
    - blog/index.md
  - Services:
    - services.md
  - Tor Network:
    - relays.md
    - legal.md
  - Monero:
    - monero.md
  - Network Operations:
    - peering.md
    - looking-glass.md
  - Transparency:
    - transparency.md
  - Shop: https://shop.jonaharagon.com/collections/triplebit
